<div id="swapable-content"></div>
<form id="library-form" class="library-form fade-me-in fade-me-out" hx-swap="outerHTML" hx-target="#swapable-content" action="/inventory/add" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Device Name. Required" required>

    <label for="ip">IP:</label>
    <input type="text" id="ip" name="ip" placeholder="IP Address. Required" required>

    <label for="device_type">Device Type:</label>
    <input type="text" id="device_type" name="device_type"  placeholder="Device Type. Not Required" >
    
    <label for="role">Role:</label>
    <input type="text" id="role" name="role" placeholder="Role. Not Required" >
    
    <label for="specs">Specs:</label>
    <input type="text" id="specs" name="specs" placeholder="Specs. Not Required" >
    
    <label for="os_firmware">OS Firmware:</label>
    <input type="text" id="os_firmware" name="os_firmware" placeholder="OS/Firmware. Not Required" >
    
    <label for="notes">Notes:</label>
    <input type="text" id="notes" name="notes" placeholder="Notes. Not Required" >
    
<br>
    <button  type="submit">Create</button>

    <button type="button" onclick="window.location.href='/inventory';">Cancel</button>
</form>