<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Network Inventory</title>
    <!-- <meta http-equiv="refresh" content="20"> -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/font-awesome/css/all.min.css">
    <script src="/static/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>

    </style>
</head>
<body>
    <div class="mx-4">
        <div class="header-container">
            <p class="text-2xl font-bold mb-4 title">Home Network Inventory</p>
            <div class="add-inventory-container">
                <a href="/docs" target="_blank" class="btn btn-api btn-custom btn-margin">
                    <i class="fa fa-atom"></i> API
                </a>
                <button type="button" class="btn btn-info btn-custom add-new" hx-get="/inventory/add" hx-target="#swapable-content" hx-swap="afterend" ><i class="fa fa-plus"></i> Add Inventory</button>
            </div>
        </div>
        <div class="table-container">
            <table class="table table-sm table-hover table-striped" >
                <thead class="border-b text-lg">
                    <tr>
                        <th class="border">Name</th>
                        <th class="border">IP Address</th>
                        <th class="border">Device Type</th>
                        <th class="border">Role</th>
                        <th class="border">OS/Firmware</th>
                        <th class="border">Specs</th>
                        <th class="border">Notes</th>
                        <th class="border">ID</th>
                        <th class="border">State</th>
                        <th class="border">Action</th>
                    </tr>
                </thead>
                <tbody class="text-center text-sm" id="table-body" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                    {% for item in inventory %}
    <tr>
        <td class="border">{{ item.name }}</td>
        <td class="border">{{ item.ip }}</td>
        <td class="border">{{ item.device_type }}</td>
        <td class="border">{{ item.role }}</td>
        <td class="border">{{ item.os_firmware }}</td>
        <td class="border">{{ item.specs }}</td>
        <td class="border">{{ item.notes}}</td>
        <td class="border">{{ item.id}}</td>
        <td class="border" id="state-{{ item.id }}" 
            hx-get="/inventory/state/{{ item.id }}" 
            hx-trigger="every 20s" 
            hx-target="#state-{{ item.id }}" 
            hx-swap="innerHTML">
            {% if item.state == "up" %}
                <i class="fa fa-circle" style="color: green;"></i>
            {% else %}
                <i class="fa fa-circle" style="color: red;"></i>
            {% endif %}
        </td>
                <td>

            <button class="btn danger" data-bs-toggle="tooltip" title="Edit" 
                hx-get="/inventory/{{ item.id }}/edit"
                hx-trigger="edit"
                onClick="let editing = document.querySelector('.editing')
                         if(editing) {
                           Swal.fire({title: 'Already Editing',
                                      showCancelButton: true,
                                      confirmButtonText: 'Yep, Edit This Row!',
                                      text:'Hey!  You are already editing a row!  Do you want to cancel that edit and continue?'})
                           .then((result) => {
                                if(result.isConfirmed) {
                                   htmx.trigger(editing, 'cancel')
                                   htmx.trigger(this, 'edit')
                                }
                            })
                         } else {
                            htmx.trigger(this, 'edit')
                         }">
                         <i class="fa-solid fa-pencil"></i>
            </button>
            <button class="btn danger" hx-confirm="Are you sure?" hx-delete="/inventory/{{ item.id }}" data-bs-toggle="tooltip" title="Delete">
                <i class="fa-regular fa-trash-can"></i>
            </button>
          </td>

    </tr>
{% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <div id="swapable-content"></div>
    <script>
        
    </script>
</body>
</html>