{% for item in inventory %}
    <tr>
        <td class="">{{ item.name }}</td>
        <td class="border">{{ item.ip }}</td>
        <td class="border">{{ item.device_type }}</td>
        <td class="border">{{ item.role }}</td>
        <td class="border">{{ item.os_firmware }}</td>
        <td class="border">{{ item.specs }}</td>
        <td class="border">{{ item.notes}}</td>
        <td class="border">{{ item.id}}</td>
        <td>
            <button class="btn danger" hx-delete="/contact/1">
              Delete
            </button>
          </td>
    </tr>
{% endfor %}
